<div class='mt24' *ngIf="!authService.isLoggedIn">
  <h3> You are not logged in!</h3>
  <p> Please <a routerLink='/login'> click here to Login </a> in order to continue.</p>
</div>

<div class='mt24' *ngIf='authService.isLoggedIn'>
  <div *ngIf='show_error' class='col-md-12'>
    <div class='col-md-4 pad-zero'>
      <div class='alert alert-danger alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> {{err_text}}
      </div>
    </div>
  </div>

  <div *ngIf='show_alert' class='col-md-12'>
    <div class='col-md-4 pad-zero'>
      <div class='alert alert-success alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> Your appointment has been created.
      </div>
    </div>
  </div>

  <div class='col-sm-12'>
    <div class='row'>

      <div class='col-sm-4 mt24 '>
        <h3 class='mb24'> Create Appointment</h3>
        <form #createApptForm="ngForm" (ngSubmit)="createAppointment(createApptForm.value); createApptForm.reset()">
          <div class='form-group'>
            <label>Title</label>
            <input type='text' class='form-control' name='appt_title' ngModel required placeholder='Lunch Meeting at Plaza Hotel'/>
          </div>
          <div class='form-group'>
            <label>With</label>
            <input type='text' class='form-control' name='appt_with_person' ngModel required placeholder = "Henry John" />
          </div>
          <div class='form-group'>
            <label>Date</label>
            <input type='date' class='form-control' name='appt_date' ngModel required />
          </div>
          <div class='form-group'>
            <label>Notes</label>
            <input type='text' class='form-control' name='appt_notes' ngModel required placeholder = "Bring the papers he asked to see" />
          </div>
          <button type='submit' class='btn btn-success'> Submit</button>
        </form>
      </div>

      <div class='col-sm-8 mt24'>
        <div *ngFor="let appt of appointments" class="col-xs-12 col-sm-12">
          <h3> <a href="appointment/{{ appt._id}}"> {{appt.title}} </a> </h3>
          <p> Appt On: <strong>{{ appt.appointment_date.substring(0, 10)}}</strong> with <strong>{{ appt.with_person}}</strong></p>
        </div>
      </div>


    </div>
  </div>

</div>
