<div *ngIf="!authService.isLoggedIn" class='container pad-zero'>
  <div class='jumbotron'>
    <div class='row'>
      <div class='col-xs-12 mt48'>
        <h3> You are not logged in!</h3>
        <p> Please <a routerLink='/login'> click here to Login </a> in order to continue.</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf='authService.isLoggedIn'>
  <div class='mt24'*ngIf='show_error' class='col-md-12'>
    <div class='col-md-4 offset-md-4 pad-zero'>
      <div class='alert alert-danger alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> {{err_text}}
      </div>
    </div>
  </div>

  <div *ngIf='show_alert' class='col-md-12'>
    <div class='col-md-4 offset-md-4 pad-zero'>
      <div class='alert alert-success alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> Your appointment has been created.
      </div>
    </div>
  </div>

  <div class='container pad-zero'>
    <div class='jumbotron'>
      <div class='row'>
        <div class='col-sm-12 col-md-4' *ngIf='!show_form'>
          <h3 class='mb24'> My Appointments</h3>
          <button class='btn btn-large btn-success' (click)='toggleShowForm()' id="addApptBtn"> Add Appointment</button>
        </div>
        <div class='col-sm-12 col-md-4' *ngIf='show_form'>
          <h3 class='mb24'> Create Appointment</h3>
          <form #createApptForm="ngForm" (ngSubmit)="createAppointment(createApptForm.value); createApptForm.reset()">
            <div class='form-group'>
              <label>Title</label>
              <input type='text' class='form-control' name='appt_title' ngModel required placeholder='Lunch Meeting at Plaza Hotel'/>
            </div>
            <div class='form-group'>
              <label>With</label>
              <input type='text' class='form-control' name='appt_with_person' ngModel required placeholder = "Henry John" />
            </div>
            <div class='form-group'>
              <label>Date</label>
              <input type='date' class='form-control' name='appt_date' ngModel required />
            </div>
            <div class='form-group'>
              <label>Notes</label>
              <input type='text' class='form-control' name='appt_notes' ngModel required placeholder = "Bring the papers he asked to see" />
            </div>
            <button type='submit' class='btn btn-success'> Submit</button>
            <button class='btn btn-default' (click)='toggleShowForm()'>Cancel</button>
          </form>
        </div>

        <div class='col-sm-12 col-md-6 offset-md-1 '>
          <h3> Recent Appointments </h3>
          <div *ngFor="let appt of top_appointments" class="col-xs-12 col-sm-12 top-appts">
            <h3> <a href="appointments/{{ appt._id}}"> {{appt.title}} </a> </h3>
            <p> Appt On: <strong>{{ appt.appointment_date.substring(0, 10)}}</strong> with <strong>{{ appt.with_person}}</strong></p>
          </div>
        </div>
      </div>
      <div class='row mt48' id='appApptsDiv'>
        <div class='col-xs-12 col-sm-12'>
          <h3> All Appointments </h3>
          <table class='table table-striped mt24'>
            <thead class='thead-dark'>
              <tr>
                <th scope="col"> # </th>
                <th scope="col"> Appointment </th>
                <th scope="col"> Date </th>
                <th scope="col"> With </th> 
              </tr>
            </thead>
            <tbody *ngFor='let appt of appointments'>
              <tr>
                <th scope="row">Counter</th>
                <td> <a href="appointments/{{appt._id}}">{{appt.title}}</a></td>
                <td>{{appt.appointment_date.substring(0,10)}}</td>
                <td>{{appt.with_person}}</td>
              </tr>
            </tbody>
          </table>


          <!-- <data-table headerTitle="Appointments" [pagination_limit]="true" [items]="dataTable_itemsResource.items" [itemCount]="dataTable_itemsCount" (reload)="reloadItems($event)"> -->
          
            

          <!-- <data-table headerTitle="Appointments" [pagination_limit]="true" [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)" [rowTooltip]="rowTooltip">

            <data-table-column [property]="'title'" [header]="'Appointment'" [sortable]="true" [resizable]="true" >
            </data-table-column>

            <data-table-column [property]="'appointment_date'" [header]="'Date'" [sortable]="true" [resizable]="true">
             </data-table-column>

             <data-table-column [property]="'with_person'" [header]="'With'" [sortable]="true" [resizable]="true">
              </data-table-column>

          </data-table> -->

        </div>
      </div>
    </div>
  </div>

</div>
