<div class='mt24' *ngIf="!authService.isLoggedIn">
  <h3> You are not logged in!</h3>
  <p> Please <a routerLink='/login'> click here to Login </a> in order to continue.</p>
</div>

<div class='mt24' *ngIf='authService.isLoggedIn'>
  <div class='col-md-12 mt24'>
    <div class='row'>
      <div class='col-md-6 pad-zero'>

        <div *ngIf='show_error' class='col-md-12'>
          <div class='pad-zero'>
            <div class='alert alert-danger alert-dismissble' role='alert'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> {{err_text}}
            </div>
          </div>
        </div>

        <div *ngIf='show_alert' class='col-md-12'>
          <div class='pad-zero'>
            <div class='alert alert-success alert-dismissble' role='alert'>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> Your appointment has been edited.
            </div>
          </div>
        </div>

        <div class='col-md-12 pad-zero'>
          <h1> {{ appointment.title }} </h1>
          <h3 class='mt24'> {{ authService.getLoggedUserFullName() }} & {{ appointment.with_person}}</h3>
          <p class='mt24'> Must be there on: <strong>{{ appointment.appointment_date.substring(0, 10) }} </strong></p>
          <p> Important: <strong> {{ appointment.notes}} </strong></p>
        </div>
        <div class='col-md-12 mt48 pad-zero'>
          <button class='btn btn-warning btn-large' (click)='toggleEditForm()'>Edit Appointment</button>
          <button class='btn btn-danger btn-large' (click)="toggleDelete()"> Delete </button>
        </div>
      </div>
      <div class='col-md-4 pad-zero'>
        <div *ngIf='show_editForm'>
          <form #editApptForm="ngForm" (ngSubmit)="editAppt(editApptForm.value)">
            <div class='form-group'>
              <label>Title</label>
              <input type='text' class='form-control' name='appt_title' [(ngModel)]="appointment.title" required placeholder='Lunch Meeting at Plaza Hotel'/>
            </div>
            <div class='form-group'>
              <label>With</label>
              <input type='text' class='form-control' name='appt_with_person' [(ngModel)]="appointment.with_person" required placeholder = "Henry John" />
            </div>
            <div class='form-group'>
              <label>Date</label>
              <input type='date' class='form-control' name='appt_date' [(ngModel)]="appointment.appointment_date" required />
            </div>
            <div class='form-group'>
              <label>Notes</label>
              <input type='text' class='form-control' name='appt_notes' [(ngModel)]="appointment.notes" required placeholder = "Bring the papers he asked to see" />
            </div>
            <button type='submit' class='btn btn-success'> Edit</button>
            <button class='btn btn-default' (click)='toggleEditForm()'>Cancel</button>
          </form>
        </div>

        <div class='mt80' *ngIf="show_delete">
          <h5 class='mt24'> Remove appointment? </h5>
          <h5 class='mt24'>
            {{appointment.title}} with {{ appointment.with_person}} on <br />{{ appointment.appointment_date.substring(0, 10)}}
          </h5>
          <div class='mt64'>
            <button class='btn btn-success btn-large' (click)="deleteAppt()"> Yes, Remove This</button>
            <button class='btn btn-default btn-large' (click)="toggleDelete()"> Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
