/* You can add global styles to this file, and also import other style files */
.btn, .form-control{
  border-radius :0;
}
.pad-zero{
  padding:0;
}
.mt48{
  margin-top:48px;
}
.mt24{
  margin-top:24px;
}
.mb24{
  margin-bottom:24px;
}
.mt64{
  margin-top: 64px;
}
.mt80{
  margin-top:80px;
}
