<div *ngIf="!authService.isLoggedIn">
  <div *ngIf='show_alert' class='col-md-12'>
    <div class='col-md-4 pad-zero'>
      <div class='alert alert-success alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> Your account has been created.
          <p> Click <a routerLink='/login'>here</a> to login with your account. </p>
      </div>
    </div>
  </div>

  <div *ngIf='show_error' class='col-md-12'>
    <div class='col-md-4 pad-zero'>
      <div class='alert alert-danger alert-dismissble' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetShowError()"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> {{err_text}}
      </div>
    </div>
  </div>

  <div class='col-xs-12 col-sm-4 mt48 '>
    <h3 class='mb24'> Signup</h3>
    <form #signupForm="ngForm" (ngSubmit)="signupUser(signupForm.value)">
      <div class='form-group'>
        <label>Name</label>
        <input type='text' class='form-control' name='user_fullname' ngModel required placeholder='Toufiq AppTestUser' />
      </div>
      <div class='form-group'>
        <label>Email</label>
        <input type='email' class='form-control' name='user_email' ngModel required placeholder='name@example.com'/>
      </div>
      <div class='form-group'>
        <label>Password</label>
        <input type='password' class='form-control' name='user_password' ngModel required placeholder = "******" />
      </div>
      <button type='submit' class='btn btn-success'> Submit</button>
    </form>

  </div>

</div>

<div class='col-xs-12 col-sm-4 mt48 ' *ngIf="authService.isLoggedIn">
  <h3 class='mb24'> You are already logged in</h3>
</div>
